<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4 shadow-sm">
  <div class="container">
    <a class="navbar-brand" href="#" routerLink="">
      <h4 class="mb-0">🎓 Aprenda com a gente</h4>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="module1" routerLinkActive="active" ariaCurrentWhenActive="page">
            🎤 Aprenda as Letras
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="module2" routerLinkActive="active" ariaCurrentWhenActive="page">
            🖼️ Aprenda com Imagens
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
